################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkPlaceProject/v17
/.vs/WorkPlaceProject/FileContentIndex
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/WorkPlaceProject/.vs
/WorkPlaceProject/src/WorkPlaceProject/obj/Debug/net6.0
/WorkPlaceProject/src/WorkPlaceProject/obj/Release/net6.0
/WorkPlaceProject/WorkPlaceProject.Application/obj
/WorkPlaceProject/WorkPlaceProject.Domain/obj
/WorkPlaceProject/WorkPlaceProject.Persistence/obj
/WorkPlaceProject/src/WorkPlaceProject/obj/WorkPlaceProject.Web.csproj.nuget.dgspec.json
/WorkPlaceProject/src/WorkPlaceProject/obj/WorkPlaceProject.Web.csproj.nuget.g.props
/WorkPlaceProject/src/WorkPlaceProject/obj/WorkPlaceProject.Web.csproj.nuget.g.targets
/WorkPlaceProject/src/WorkPlaceProject.Application/bin/Debug/net6.0
/WorkPlaceProject/src/WorkPlaceProject.Application/obj
/WorkPlaceProject/src/WorkPlaceProject.Domain/obj
/WorkPlaceProject/src/WorkPlaceProject.Persistence/bin/Debug/net6.0
/WorkPlaceProject/src/WorkPlaceProject.Persistence/obj
/WorkPlaceProject/src/WorkPlaceProject.Domain/bin/Debug/net6.0
*.user
/WorkPlaceProject/src/WorkPlaceProject/bin/Debug/net6.0
/WorkPlaceProject/src/WorkPlaceProject.Web/bin/Debug/net6.0
/WorkPlaceProject/src/WorkPlaceProject.Web/obj
/WorkPlaceProject/src/WorkPlaceProject.Web/bin/Debug/net7.0
/WorkPlaceProject/WorkPlaceProject.Common/bin/Debug/net6.0
/WorkPlaceProject/WorkPlaceProject.Common/obj
