@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p id="p1" role="status">Current count: @_currentCount</p>

<button id="1" class="btn btn-primary" @onclick="IncrementCount" >Click me</button>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }
}

