@page "/sessionInput"
<PageTitle>Planning Poker</PageTitle>
@inject NavigationManager UriHelper
@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<h1>Planning Poker</h1>

<div class="form-group">
    <label>
        Username:
        <input @bind="_userName" size="50" disabled />
    </label>
</div>

<div class="form-group">
    <label>
        Session Code:
        <input @bind="_sessionCode" size="50" />
    </label>
</div>
<button @onclick="OnClick">Send</button>

@code 
{
    string? _sessionCode;
    string? _userName;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            User user = await GraphServiceClient.Me.Request().GetAsync();
            _userName = user.GivenName;
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
    }

    private void OnClick()
    {
        if (SessionExists()
            && UserExists())
        {
            UriHelper.NavigateTo($"storyPointerApp/{_sessionCode}/{_userName}");
        }
    }

    private bool SessionExists()
    {
        if (_sessionCode is not null 
        && _sessionCode.Length == 6)
        {
            return true;
        }

        return false;
    }

    private bool UserExists()
    {
        if (_userName is not null)
        {
            return true;
        }

        return false;
    }
}
