@page "/storyPointerApp/{sessionCode}/{userCode}"
@using Microsoft.AspNetCore.SignalR.Client
@using WorkPlaceProject.Application;
@using WorkPlaceProject.Domain.StoryPointer.ValueTypes
@inject NavigationManager Navigation
@implements IAsyncDisposable

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler


<PageTitle>Story Pointer</PageTitle>
<h3>Story Pointer</h3>

<hr>

<AuthorizeView>
    <Authorized>
        
        <section>
            <article>
                <ul id="messagesList">
                    @foreach (var message in _messages)
                    {
                        <li>@message</li>
                    }
                </ul>
            </article>
        </section>

        <section>
            <article>
                <div class="row">

                    @foreach (var card in FibonacciValueType.Values)
                    {
                        <div class="column">
                            <div class="card" @onclick="(e => SendStoryPoints(card.Value.ToString()))">
                                <h3>@card.Value</h3>
                                <h3>@card.Description</h3>
                            </div>
                        </div>
                    }
                </div>
            </article>
        </section>

        <section>
            <div class="form-group">
                <label>
                    Message:
                    <input @bind="_messageInput" size="50" />
                </label>
                <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
            </div>
       </section>

    </Authorized>
    <NotAuthorized>
        ahhhhhhhh
    </NotAuthorized>
</AuthorizeView>

@code {
    private HubConnection? _hubConnection;
    private List<string> _messages = new List<string>();
    private User? user;

    [Parameter]
    public string? SessionCode { get; set; }

    [Parameter]
    public string? UserCode { get; set; }

    private string? _messageInput;
    private string? selectedValue;

    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/StoryPointerHub"))
            .Build();

        _hubConnection.On<string, string>("ReceiveUserMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);

        });

        _hubConnection.On<string>("ReceiveInfoMessage", ( message) =>
        {
            var encodedMsg = $"{message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);

        });

        await _hubConnection.StartAsync();

        await _hubConnection.SendAsync("AddToGroup", SessionCode, UserCode);

    }

    private async Task Send()
    {
        if (_messageInput is null || _messageInput.Length < 1)
        {
            // add an error
            return;
        }

        if (_hubConnection is not null && SessionCode is not null)
        {
            await _hubConnection.SendAsync("SendGroupMessage", SessionCode, UserCode, _messageInput);
            _messageInput = "";
        }
        else if(_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SendMessage", UserCode, _messageInput);
            _messageInput = "";
        }
    }

    private async Task SendStoryPoints(string storyPoints)
    {
        selectedValue = storyPoints;
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SendGroupMessage", SessionCode, UserCode, $" selected {selectedValue} story points.");
            await _hubConnection.SendAsync("SendGroupInfoMessage", SessionCode, UserCode, $" selected {selectedValue} story points.");
        }

    }


    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}